
body {
	background-color: #f5f5f5;
	 font-family: "Alright Sans","Helvetica Neue",Helvetica,sans-serif;
}

header {
display: block;
width:800px;
margin: 0 auto;
text-align: center;
background-image: url(./www/img/back.png) ;
padding-top: 100px;

}


header h2 a {color: black; text-decoration: none;}
header h2 {
	font-family: 'Lato', sans-serif;
    font-weight: 100;
	font-size: 40px;
	margin-bottom: -30px;
}

header h4 {
    font-family: "Alright Sans","Helvetica Neue",Helvetica,sans-serif;
    font-weight: 100;
    font-size: 30px;

}
header button {
	border:none;
	width: 100px;
	height:40px;
	border-radius: 3px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

#btn-login {
	background-color: #7ad4ce;
	margin: -10px 15px 0 0;

}
#btn-login:hover{
	background-color: #48c4bb;
}
#btn-signup {
	background-color: #fdc44f;
	margin:-5px 0 0  15px;

}
#btn-signup:hover {
	background-color: #fcae0d;
}

.global_button {
	display: block;
}
header .submit {
		display:block;
	margin: 0 auto;
	margin-bottom:15px;
	width:200px;
	height: 25px;
	text-align: center;
		border-radius: 3px;
		border: 1px solid grey;
		color:#f5f5f5;
	background-color: #2980b9 !important;
	font-weight: bold;
}

header .field {
	display:block;
	margin: 0 auto;
	margin-bottom:15px;
	width:200px;
	height: 25px;
	text-align: center;
		border-radius: 3px;
		border: 1px solid grey;
}
.feedback {
font-family: "Alright Sans","Helvetica Neue",Helvetica,sans-serif;
	font-size: 12px;}
.feedback a {
	color:black;
	text-decoration: none;

}

#add-contact-resultbox>ul li{
	list-style: none;
	border: 1px solid black;
}


.form-control {
	width:200px;
	height: 20px;
	margin-top: 10px;
	text-align: center;
}
.form-group {
	text-align:center;
}

.btn {
	background-color: #3498db;
	color:white;
	width: 205px;
	height:25px;
	border: none;
	margin-top: 10px;
}




