  html {
    height: 100%;
  }

/* Quicksearch stylisation */

#add-contact-resultbox ul {
margin-top: -1px !important;
}

#add-contact-resultbox li {
border: 1px solid #bdc3c7 !important;
margin-top: -1px !important;
}


#add-contact-resultbox a {
  color: #7f8c8d !important;
}

#add-contact-resultbox a:hover {
  color: black !important;
  text-decoration: none;
}


#add-contact-new-msg-resultbox ul {
display: block;
width:100%;
}

#add-contact-new-msg-resultbox li {
border: 1px solid #bdc3c7 !important;
margin-top: -1px !important;
display: block;
width:100%;
margin-right: -5px !important;
}


#add-contact-new-msg-resultbox a {
  color: #7f8c8d !important;
}

#add-contact-new-msg-resultbox a:hover {
  color: black !important;
  text-decoration: none;
}


.form-textarea {

    margin-top: 50px;
    display: block;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

  body {
    height: 100%;
        margin-bottom: none !important;
  }
  .corps {
  
    border-bottom: 1px solid black;
  }

 nav  {
    height: 100%;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    width: 35px;
    display:block;
    float:left;
    background-color: #ecf0f1;
    padding-top: 5px;

  }
nav a {
    color: black;

  }

  nav h2 {
    margin-top:  5px !important;
    margin-bottom: 30px !important;
  }


#A2 {

    width: 250px;
    padding-left: 10px;
    padding-top: 10px;   
    display:block;
    float:left;
    max-height:100%;


  }
aside h3 {

    font-size: 15px;
  }


aside p {

    margin-top: -5px !important;
  }

aside a {

    width: 250px;
    color: black !important;
    min-height: 50px;
     border-bottom: none !important;
  }

aside a:hover {

   width: 250px;
    color: black!important;
    min-height: 50px;
  text-decoration: none !important;
    border-bottom: none !important;

  }

  .next {
  text-align: right;
  float: right;

  }

  .right {

    float:right;
  }

  .right a {
  margin-left: 10px;

  }

  .form-control{
height: 25px !important;
margin-top:  15px !important;
  }

#msg-list >ul{
  list-style: none;
  padding: 0;
}

  .selected {

    color: #3498db !important;
  }

.titre {
font-size: 25px;

}
.photo {
  display: block;
  float: left;
  padding-left: 30px;
  margin-right: 0px;
}

.description {
padding-top: 20px;

}
.profil {
  padding-top: 10px;
  margin-bottom: 70px;
  height: 90px;
}
.corpus {
margin-left: 30px; 
display: block;
overflow: hidden;
overflow-y: auto;
margin-right: 30px;
}

.connected {
color:#3498db;
}

.content-area {

  overflow: hidden;
  overflow-y: auto;

}

.menu {
margin-bottom: 0px;
display:block;
height: 120px;
}

.conversation {
  padding-left: 20px;
  display:block;
  margin-right: 20px;
  overflow: hidden;
  overflow-y: auto;
}

.interlocuteur {
margin-bottom: 30px;

text-align: justify;

}
.interlocuteur .msg {
  padding-right: 60px;
}

.intervenant .msg {
    padding-left: 60px;
}
.intervenant {
  text-align: justify;

float:right;
margin-bottom: 30px;

}



.topic {
  height :60px;
  overflow: hidden;
  overflow-y: auto;
}

.topic > ul {
  list-style: none;
  padding: 0;
}


#chat{
height :40px !important;

}
#chatbar {
  padding-right: 20px;
  padding-left: 20px;
height : 60px;
display: block; 

}
.datetime{
  text-align: right;
  color:grey;
  display: block;

}

#contact-list ul {
  list-style: none;
  text-align : none;
  margin-bottom: 0;
}

#contact-list li {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: -40px;

  border-bottom: 1px solid #ecf0f1;
}

  .size-ic {
    font-size: 12px;
    margin-right: 20px;
  }

  .nouveau_contact {
  width: 600px !important;
  height: 40px !important;
  float:left;


  }

#B4 {

overflow: hidden;
overflow-y: auto;

}

#A4 {

    width: 250px;
    padding-left: 10px;
    padding-top: 10px;   
    display:block;
    float:left;
    max-height:100%;
    margin-right: 40px;

  }

.corpus h1 {

  margin-top: 50px;

}

.corpus p {

  text-align: justify;
}

#add-contact-resultbox ul{
  margin-top: 55px;
  padding: 0; 
}

#add-contact-resultbox>ul li{
  list-style: none;
  border: 1px solid black;
  size: 2em;
  padding: 5px 0 5px 10px;
}

#add-contact-resultbox>ul li.selected{
  background-color: #f5f5f5;
}

#add-contact-resultbox>ul li:hover{
  background-color: #f5f5f5;
}

#add-contact-new-msg-resultbox ul {
max-height: 50px;
list-style: none;

}